<p id="notice"><%= notice %></p>

<strong>Video</strong>
<p class="videoWindow">
  <%= link_to @post.video_url.to_s do %>
  <%= video_tag(@post.video.to_s) %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<% end %>
